	.panel {
		background: url("images/Image2.jpg") 0px 80px no-repeat;
	}
	
	.userTable {
		border-collapse: collapse;
		border: 1px solid #000000;
		margin-left: 40%;
		width: 300px;
		height: 500px;
	}
	
	.userTableHeader {
		text-align: center;
		color: blue;
		background: none repeat scroll 0 0 #B5B5B5;
		border-bottom: 1px solid #000000;
		padding: 5px;
	}

	.userTableOddRow {
		text-align: center;
		background: none repeat scroll 0 0 #FFFFFFF;
		padding: 10px;
	}

	.userTableEvenRow {
		text-align: center;
		background: none repeat scroll 0 0 #D3D3D3;
		padding-left: 10px;
	}

	